rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth.token.role == 'admin';
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isAdmin() || isOwner(userId);
    }

    match /sellers/{sellerId} {
      allow read: if isAdmin() || isOwner(sellerId);
      allow write: if isAdmin(); // Apenas Admins podem escrever nos dados dos vendedores

      // Validação de Dados para Vendedores
      allow update: if request.resource.data.name is string &&
                       request.resource.data.email is string &&
                       request.resource.data.salesValue is number &&
                       request.resource.data.ticketAverage is number &&
                       request.resource.data.pa is number &&
                       request.resource.data.points is number &&
                       request.resource.data.extraPoints is number;
    }

    match /artifacts/{appId}/public/data/{collection}/{docId} {
      allow read: if request.auth != null;
      allow write: if isAdmin();

      // Validação para a coleção 'goals'
      match /goals/main {
        allow write: if request.resource.data.teamGoalBonus is number &&
                        request.resource.data.salesValue.metinha.threshold is number &&
                        request.resource.data.salesValue.metinha.prize is number;
      }
    }
  }
}
