@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    /* --- SUAS NOVAS CORES APLICADAS AO TEMA --- */
    /* "super" (rosa) como cor primária */
    --primary: 348 83% 64%; /* #ef476f */
    --primary-foreground: 0 0% 100%;

    /* "moda" (azul) como cor secundária */
    --secondary: 230 39% 47%; /* #4b5aa6 */
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    /* "calçados" (cinza) para texto silenciado */
    --muted-foreground: 0 0% 60%; /* #999999 */
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 348 83% 64%; /* O anel de foco usa a cor primária */
 
    --radius: 0.5rem;
  }
 
  .dark {
    /* As cores já estão otimizadas para o tema escuro. */
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}